.home2 {
    background-image: url("../imgn2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.jumbotron {
    background-color: rgba(9, 11, 15, 0.3);
}

button {
    padding: 2%;
    margin-top: 5%;
}

.foot {
    display: flex;
}

#contact {
    color: #fff;
}