form{
    background-image: url("../img/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 5%;
}
.jumbotron{
    background-color: rgba(9,11,15, 0.3);
}